<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta property='og:title'  content='Tippay'>
    <meta property='og:description'  content='Create microtransactions in your Repls with Tippay, an easy all-in-one solution harnessing the tipping power of your Repls.'>
    
    <title>Tippay</title>

    <link rel="stylesheet" href="/css/pay.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/tippay.png" />
  </head>
  <body>
    <div class="center">
      <div class="block">
        <h2>Create microtransactions in your Repls!</h2>
        <p>With Tippay, an easy all-in-one solution harnessing the tipping power of your Repls. Set up in a few minutes and forget about payment processing, all that's done automatically.</p>
        <button onclick="window.open('https://replit.com/@codingMASTER398/tiptest?v=1')">Node.js template</button>
        <button onclick="window.open('https://replit.com/@Hellscaped/tippaypy-template?v=1')">Python template</button>
        <button onclick="window.open('https://Tippay-template.codingmaster398.repl.co/tippay')">Demo</button>
      </div>
    </div>
  </body>
</html>